[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
networkx = "*"
node2vec = "*"
sklearn = "*"
numpy = "*"
lightgbm = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
torch-scatter = "*"
torch-geometric = "*"

[dev-packages]

[requires]
python_version = "3.10"
