{% extends 'base.html' %}

{% block content %}
  <table border = 1>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data da criacao</th>
        <th>Criador do Jogo</th>
        <th>Visualizar</th>
      </tr>
    </thead>
    <tbody>
      {% for jogo in JogoList %}
        <tr>
          <td>{{ jogo.nome }}</td>
          <td>{{ jogo.data_criacao }}</td>
          <td><a href = "{% url "UserDetailView" jogo.user.id %}">{{ jogo.user.username }}</a></td>
          <td><a href = "{% url "JogoDetailView" jogo.id %}">Visualizar</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
