{% extends 'base.html' %}
{% block content %}
  <h2>Detalhando Usuário: {{ usuario.username }}</h2>
  <table border = 1>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data do cadastro</th>
        <th>Deficiência</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{ usuario.username }}</td>
          <td>{{ usuario.date_joined }}</td>
          <td>{{ usuario.profile.deficiencia }}</td>
          <!--{% for jogo in usuario.many_set.all %}
            {{ jogo.nome }}
          {% endfor %}<--->
        </tr>
    </tbody>
  </table>
{% endblock %}
