<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Acesso Negado{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Acesso Negado</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout / </a>
      {% else %}
        <a href="{% url 'login' %}">login / </a><a href="{% url 'signup' %}">Cadastrar / </a>
      {% endif %}
        <a href = "{% url 'CadastrarJogo' %}">Cadastrar um jogo / </a>
        <a href = "{% url 'home' %}">Home</a>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
